.blocodois{
    position: relative;
}
.container-fundo {
    width: 100%;
    height: 1033px;
    background: #ffffff;
    font-family: "Rubik", sans-serif; 
}


.fundo-sombra img {
    float: left;
    position: absolute;
    width: 998px;
    height: 998;
    overflow: visible;
    left: -370px;
    top: 0px
}  

.imgdecorativo img {
    position: absolute;
    left: 75px;
    width: 260px;
    height: 260px;
    margin-top: 630px;
}


.circulo img {
    position: absolute;
    right: 200px;
    margin-top: 37px;
    width: 280px;
    height: 280px;
}

.quadrado{
    position: absolute;
    width: 41%;
    height: 45%;
    background: #F3F3F3;
    top:0;
    right: 0;
}
.container-texto {
    position: absolute;
    width: 100%;
    height: 1033px;
    font-family: "Rubik", sans-serif;
    display: flex;


    top: 0;
    padding-left: 10%;
    padding-right: 10%;

}

.textotitulo{
    margin-top: 165px;
    text-align: left;
    width: 55%;

}


.textotitulo h1{
    font-size: 50px;

}

.textotitulo p {
    margin-top: 35px;
    font-size: 21px;
    text-align: justify;
}

.botao {
    display: flex;
    width: 483px;
    height: 83px;
    background-color: #7600f8;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
}

.botao a{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;

}


.container-qr {
    width: 45%;
    margin-top:240px;
    text-align: left;
    margin-left: 146px;
}

.container-qr-qrcode {
    display: flex;
}

.seta {
    font-size: 28px;
    width: 303px;
    height: 99px;
    margin-top: 116px;
    margin-left: 30px;
}

.seta img{
    margin-left: 20px;
}

.textbaixo {
    margin-left: 95px;
    margin-top: 100px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    width: 567px;
    height: 99px;
    text-align: left;
}

.container-final {
    display: flex;
    height: 602px;
    margin-left: 10%;
    margin-right: 10%;
}

.doar{
    width: 408px;
    margin-left: 130px;
}

.textoemail {
    width: 896px;
    height: 168px;
    font-size: 35px;
    margin-top: 140px;
    margin-left: 140px;
    text-align: left;
}

.email {
    text-decoration: underline ;
}

