.blocodois {
  font-family: 'Rubik', sans-serif;
  position: relative;
}
.container-fundo {
  width: 100%;
  height: 980px;
  background: #ffffff;
  font-family: 'Rubik', sans-serif;
}

.fundo-sombra img {
  float: left;
  position: absolute;
  width: 998px;
  height: 998;
  overflow: visible;
  left: -370px;
  top: 0px;
}

.imgdecorativo img {
  position: absolute;
  bottom: 120px;
  left: 30px;
}

.circulo img {
  position: absolute;
  right: 200px;
  margin-top: 37px;
  width: 240px;
  height: 240px;
}

.quadrado {
  position: absolute;
  width: 41%;
  height: 45%;
  background: #f7f7f7;
  top: 0;
  right: 0;
}
.container-texto {
  position: absolute;
  width: 100%;
  top: 0;
}

.text__title {
  text-align: left;
  width: 80%;
  max-width: 1200px;
  margin: 130px auto 0;
}

.text__title h1 {
  font-size: 50px;
  padding: 0 10px;
  max-width: 500px;
}

.text__content {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.text__content p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
}

.text__content .email {
  color: #4c87b1;
}

.text__content .email:hover {
  text-decoration: underline;
}

.text__content .link {
  color: #4c87b1;
}

.text__content .link:hover {
  text-decoration: underline;
}

/* Segunda parte */

.container-final {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.container-final img {
  margin: 50px;
}

.qrcode img {
  width: 250px;
}

/* Responsivo  */

@media (max-width: 1024px) {
  .imgdecorativo img {
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
  }

  .circulo img {
    right: 150px;
  }
}

@media (max-width: 768px) {
  .imgdecorativo img,
  .circulo img,
  .fundo-sombra img,
  .quadrado {
    display: none;
  }

  .text__title {
    width: 90%;
    margin-top: 40px;
  }

  .text__title h1 {
    font-size: 40px;
  }

  .text__content {
    width: 90%;
  }

  .text__content p {
    font-size: 24px;
  }

  .container-fundo {
    height: 1050px;
  }
}

@media screen and (max-width: 450px) {
  .container-fundo {
    height: 1720px;
  }
}

@media screen and (max-width: 375px) {
  .container-fundo {
    height: 2000px;
  }
}

@media screen and (max-width: 320px) {
  .container-fundo {
    height: 2250px;
  }
}
@media screen and (max-width: 280px) {
  .container-fundo {
    height: 2650px;
  }
}
