* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}




.section-chart-container {
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #222222;
  margin: 0;

}

/* Coloca os elementos lado a lado  */
.chart-indicators {
  display: flex;
}

/* 
title dos dois itens  */
.indicators-title, .chart-title {
  font-size: 50px;
  margin-top: 140px;
  margin-bottom: 86px;
  font-weight: 700;
  text-align: left;
}


/* Estilos do item 
indicators ---------------------  */
.div-chart {
  background: #f3f3f3;
  width: 50%;
  padding-left: 10%;
  border-radius: 5px;
}


.chart{
margin-right: 30px;
}


/* Posiciona o item  */
.div-indicators {
  width: 50%;
  padding-right: 10%;
  padding-left: 130px;
}


.indicators-subitem{
  display: flex;
  margin-bottom: 130px;
}

.linhas{
  display: block;
  content: "casa";
  width: 800px;
  height: 2px;
  background: #E1DFDF;
  position: relative;
  left: -80px;
  top: -70px;
}

.img-hand-money {
  position: relative;
  left: -30px;
}

.section-chart-container h3, .span-h3 {
  font-size: 37.5px;
  line-height: 44px;
  font-weight: 300;
  margin-bottom: 16px;
  text-align: left;
  
}

.span-h3 {
  color: #6320ee;
  font-weight: bold;
  text-align: left;
}

.section-chart-container span {
  color: #6320ee;
  font-weight: bold;
}

.indicators-subitem-doadores{
    display: flex;
}

.indicators-subitem-doadores p{
    margin-right: 100px;
    line-height: 33px;
}

.total-doadores{
  width: 181px;
}

.biggest-donor{
  min-width: 267px;
}




/* Botão ver mais */

.chart-indicators-button{
    display: flex;
    width: 334px;
    height: 79px;
    background-color:  #6320ee;
    border-radius: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}