* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}




.section-grafico-container {
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #222222;
  margin: 0;

}

/* Coloca os elementos lado a lado  */
.grafico-indicadores {
  display: flex;
}

/* Titulo dos dois itens  */
.titulo {
  font-size: 50px;
  margin-top: 140px;
  margin-bottom: 86px;
  font-weight: 700;
}


/* Estilos do item indicadores ---------------------  */
.div-grafico {
  background: #f3f3f3;
  width: 50%;
  padding-left: 10vw;
  border-radius: 5px;
}


.grafico{
margin-right: 30px;
}


/* Posiciona o item  */
.div-indicadores {
  width: 50%;
  padding-right: 9vw;
  padding-left: 130px;
}


.indicadores-subitem{
  display: flex;
  margin-bottom: 130px;
}

.linhas{
  display: block;
  content: "casa";
  width: 800px;
  height: 2px;
  background: #E1DFDF;
  position: relative;
  left: -80px;
  top: -70px;
}

.imagem-mao-dinheiro {
  position: relative;
  left: -30px;
}
h3,
.span-h3 {
  font-size: 37px;
  line-height: 44px;
  font-weight: 300;
  margin-bottom: 16px;

  
}

.span-h3 {
  color: #6320ee;
  font-weight: bold;
}

span {
  color: #6320ee;
  font-weight: bold;
}

.indicadores-subitem-doadores{
    display: flex;
}

.indicadores-subitem-doadores p{
    margin-right: 100px;
    line-height: 33px;
}

.total-doadores{
  width: 181px;
}

.maior-doador{
  min-width: 267px;
}




/* Botão ver mais */

.grafico-indicadores-botao{
    display: flex;
    width: 334px;
    height: 79px;
    background-color:  #6320ee;
    border-radius: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}