.blocoinfotres {
    width: 100%;
    font-family: "Rubik", sans-serif;
}

.container-final {
    height: 420px;
    background: #ffffff;
}

.doar img {
    margin-top: 65px;
    margin-left: 150px;
    margin-right: 50px;
    float: left;
    align-items: center;
    width: 250px;
    height: 300px;
}

.textoemail p {
    margin-left: 60px;
    float: left;
    text-align: justify;
    margin-top: 140px;
    font-size: 25px;
}